.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  flex-wrap: wrap;
  width: 100vw;
}

.container input {
  max-width: 100%;
  width: 100%;
  height: 25px;
  text-align: left;
  padding: 5px;
  outline: 0;
  border: 1px solid #cecece;
}

.container .btn-save {
  display: flex;
  width: 500px;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: flex-end;
}
.input-container {
  margin-bottom: 10px;
}


.error label {
  color: tomato;
}

.error input {
  border: 1px solid tomato;
}

.asterisco {
  color: tomato;
}
