@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Titillium Web', 'Montserrat',sans-serif;
  background-color: #fff;
}
ul, li{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #DB2B39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}
header nav li{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}
nav a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  flex-direction: column;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transform: translateY(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a{
    font-size: 1.5rem;
  }
}